<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Markup</title>

    <!-- ========================== -->
    <!-- CSS Links -->

    <!-- Third Party CSS - Start -->
    <link rel="stylesheet" href="./assets/plugins/bootstrap-5.2.3-dist/css/bootstrap.min.css">
    <!-- Third Party CSS - End -->


    <!-- Icon CSS - Start -->
    <link rel="stylesheet" href="./assets/fonts/bootstrap-icons-1.10.5/bootstrap-icons.css">
    <link rel="stylesheet" href="./assets/fonts/RemixIcon_Fonts_v3.3.0/fonts/remixicon.css">
    <link rel="stylesheet" href="./assets/fonts/Linearicons-Free-v1.0.0/style.css">
    <link rel="stylesheet" href="./assets/fonts/fontawesome-free-6.4.0-web/css/all.min.css">
    <!-- Icon CSS - End -->


    <!-- Theme CSS - Start -->
    <link rel="stylesheet" href="./assets/css/header.css">
    <link rel="stylesheet" href="./assets/css/footer.css">
    <link rel="stylesheet" href="./assets/css/basic.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/custom.css">
    <!-- Theme CSS - End -->

    <!-- CSS Links -->
    <!-- ========================== -->
</head>

<body>

    <section style="display: block;height: 1500px;">

    </section>







    <!-- General Info -->
    <section class="theme-dark-light general-info">
        <div class="container">

            <div class="row py-4">
                <div class="col-sm-12 col-md-3">
                    <div class="icon-box-title d-flex">
                        <div class="icon-box">
                            <i class="bi bi-telephone"></i>
                        </div>
                        <div>
                            <h6>Phone</h6>
                            <a href="#">0123456789</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-3">
                    <div class="icon-box-title d-flex">
                        <div class="icon-box">
                            <span class="lnr lnr-envelope"></span>
                        </div>
                        <div>
                            <h6>Email</h6>
                            <a href="#">example@outlook.com</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-3">
                    <div class="icon-box-title d-flex">
                        <div class="icon-box">
                            <i class="ri-map-pin-fill"></i>
                        </div>
                        <div>
                            <h6>Address</h6>
                            <a href="#">706 Campfire Ave. Meriden</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-3">
                    <div class="icon-box-title d-flex">
                        <div class="icon-box">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div>
                            <h6>Ticket</h6>
                            <a href="#">Support Ticket</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- General Info -->


    <!-- Footer Section -->
    <footer class="theme-primary">
        <div class="container">

            <div class="row py-4">
                <div class="col-md-6 col-xl-7">
                    <h5>Subscribe to our Newsletter</h5>
                    <p>Get all the latest information Sales and Offers</p>
                </div>
                <div class="col-md-6 col-xl-5">
                    <form class="" method="post" action="">
                        <div class="newsletter-form">
                            <input type="text" class="form-control focus-no-shadow border-0 rounded-1"
                                placeholder="Enter Email">
                            <button class="btn btn-primary rounded-1">Subscribe</button>
                        </div>
                    </form>

                </div>
            </div>


            <div class="row py-4">
                <div class="col-xl-4 pe-5 pb-5">
                    <a href="#">
                        <img src="./assets/img/logo.png" alt="logo" class="img-fluid logo-footer"
                        onerror="this.src='./assets/img/placeholder/placeholder_4-1.png'">
                    </a>
                    <p>ABC eCommerce is a leading online retailer offering a wide range of products and services to customers worldwide. With a user-friendly website and a robust online marketplace.</p>
                    <div class="d-flex gap-2 app-logos">
                        <a href="#">
                            <img src="./assets/img/icons/google-light.png" alt="" class="img-fluid">
                        </a>
                        <a href="#">
                            <img src="./assets/img/icons/apple-light.png" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-6 col-md-3">
                    <div class="links-list">
                        <h6 class="title">Quick Links</h6>
                        <ul>
                            <li>
                                <a href="#">Live Chat</a>
                            </li>
                            <li>
                                <a href="#">Support Ticket</a>
                            </li>
                            <li>
                                <a href="#">Profile Info</a>
                            </li>
                            <li>
                                <a href="#">Track Order</a>
                            </li>
                            <li>
                                <a href="#">Wish List</a>
                            </li>
                            <li>
                                <a href="#">Delivery Details</a>
                            </li>
                            <li>
                                <a href="#">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-6 col-md-3">
                    <div class="links-list">
                        <h6 class="title">Accounts</h6>
                        <ul>
                            <li>
                                <a href="#">Profile</a>
                            </li>
                            <li>
                                <a href="#">Manage Deliveries</a>
                            </li>
                            <li>
                                <a href="#">Orders</a>
                            </li>
                            <li>
                                <a href="#">Payments</a>
                            </li>
                            <li>
                                <a href="#">FAQs</a>
                            </li>
                            <li>
                                <a href="#">returns</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-6 col-md-3">
                    <div class="links-list">
                        <h6 class="title">Quick Links</h6>
                        <ul>
                            <li>
                                <a href="#">Upcoming Campaign</a>
                            </li>
                            <li>
                                <a href="#">Offers</a>
                            </li>
                            <li>
                                <a href="#">All Stores</a>
                            </li>
                            <li>
                                <a href="#">All Categories</a>
                            </li>
                            <li>
                                <a href="#">All Brands</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">About us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-6 col-md-3">
                    <div class="links-list">
                        <h6 class="title">Policy Pages</h6>
                        <ul>
                            <li>
                                <a href="#">Privecy & Policy</a>
                            </li>
                            <li>
                                <a href="#">Terms & Policy</a>
                            </li>
                            <li>
                                <a href="#">Return Policy</a>
                            </li>
                            <li>
                                <a href="#">Refund Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row flex-column-reverse flex-md-row">
                    <div class="col-md-6 pb-3 d-flex justify-content-center justify-content-md-start">
                        <p class="m-0">Copyright &copy; 2023. All Right Reserved.</p>
                    </div>
                    <div class="col-md-6 pb-3">
                        <div class="social-icons-list justify-content-center justify-content-md-end">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section -->

    <button id="goToTopButton"><i class="fa-solid fa-angle-up"></i></button>


    <!-- ========================== -->
    <!-- JS Links -->

    <!-- Third Party JS - Start -->
    <script src="./assets/plugins/jquery/jquery-3.7.0.min.js"></script>
    <script src="./assets/plugins/bootstrap-5.2.3-dist/js/bootstrap.min.js"></script>
    <script src="./assets/libs/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/libs/sweetalert2.min/sweetalert2.all.js"></script>
    <script src="./assets/libs/notyf_js/notyf.min.js"></script>
    <!-- Third Party JS - End -->


    <!-- Theme JS - Start -->
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/custom.js"></script>

    <!-- Theme JS - End -->

    <!-- JS Links -->
    <!-- ========================== -->

</body>

</html>