/* Footer CSS - Start */
footer{

}

footer .logo-footer{
    max-width: 180px;
    padding: 0 0 10px 0;
}

.general-info .icon-box-title{
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.general-info .icon-box-title p{
    padding: 0;
    margin: 0;
}

.general-info .icon-box-title .icon-box{
    /* width: ; */
    padding: 0 18px;
    font-size: 28px;
    /* background-color: red; */
}

footer .links-list .title{
    font-weight: 600;
    letter-spacing: 1px;
}

footer .links-list ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .links-list ul li{
    padding: 5px 0;
    font-size: 14px;
} 

footer .social-icons-list {
    display: flex;
}
footer .social-icons-list ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .social-icons-list ul li{
    padding: 0 10px;
    display: inline-block;

}
footer .app-logos img{
    max-width: 140px;
}

footer .newsletter-form {
    position: relative;
    display: flex;
    align-items: center;
}

footer .newsletter-form input{
    height: 50px;
}

footer .newsletter-form button{
    position: absolute;
    right: 5px;
}

/* Footer CSS - End */