/*
    ******** CSS INDEX ********
    01. Base
        1.1 Typography 
        1.2 Spacing
        1.3 Color
    ********************/
:root {
    --theme-body: #fafbfe;
    --theme-primary: #27496D;
    --theme-secondary: #008891;
    --theme-light: #1f6a75;
    --theme-dark-light: #276e79;
    --theme-text-light: #f3f3f3;
    --img_ratio_product-width: 400;
    --img_ratio_product-height: 400;
}

/* Colors - Start */
.theme-primary{
    background-color: var(--theme-primary);
    color: var(--theme-text-light);
}
.theme-secondary{
    background-color: var(--theme-secondary);
}
.theme-light{
    background-color: var(--theme-light);
}
.theme-dark-light{
    background-color: var(--theme-dark-light);
    color: var(--theme-text-light);
}
.review-star{
    color: #FDCC0D;
    font-size: 12px;
}
/* Colors - End */


/* ===========
Product Single Card - Start
============= */
.product-single-card{
    position: relative;
    border-radius: 5px;
    box-shadow: 1px 1px 15px #cccccc40;
    transition: .5s ease-in;
    /* background-color: red; */
}
.product-single-card::after{
    
}

.product-single-card:focus,
.product-single-card:hover{
    -webkit-box-shadow: 1px 1px 28.5px -7px #d6d6d6;
    -moz-box-shadow: 1px 1px 28.5px -7px #d6d6d6;
    box-shadow: 1px 1px 28.5px -7px #d6d6d6;
}

.product-single-card .product-info{
    padding: 20px;
}

.product-single-card .product-top-area{
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    /* border-radius: 5px; */
}

.product-single-card .product-top-area .product-discount{
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    border-radius: 3px;
    padding: 5px 10px;
    box-shadow: 1px 1px 28.5px -7px #dddddd;
    user-select: none;
    z-index: 999;
}

.product-single-card .product-top-area .product-img {
    aspect-ratio: var(--img_ratio_product-width) / var(--img_ratio_product-height);
    overflow: hidden;
}

.product-single-card .product-top-area .product-img .first-view{
    transition: .5s ease-in;
}

.product-single-card .product-top-area .product-img .hover-view{
    opacity: 0;
    transition: .5s ease-in;
}

.product-single-card .product-top-area:focus .product-img .first-view,
.product-single-card .product-top-area:hover .product-img .first-view{
    opacity: 0;
    width: 0;
    height: 0;
}
.product-single-card .product-top-area:focus .product-img .hover-view,
.product-single-card .product-top-area:hover .product-img .hover-view{
    opacity: 100%;
    scale: 1.2;
}


.product-single-card .product-top-area .sideicons{
    position: absolute;
    right: 15px;
    display: grid;
    gap: 10px;
}

.product-single-card .product-top-area .sideicons .sideicons-btn{
    font-size: 12px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    border: none;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: translateX(60px);
    transition: .3s ease-in; 
    -webkit-box-shadow: 1px 1px 28.5px -7px #dddddd;
    -moz-box-shadow: 1px 1px 28.5px -7px #dddddd;
    box-shadow: 1px 1px 28.5px -7px #dddddd;
}

.product-single-card .product-top-area .sideicons .sideicons-btn:focus,
.product-single-card .product-top-area .sideicons .sideicons-btn:hover{
    color: #fff;
    background-color: #000;
}


.product-single-card .product-top-area .sideicons .sideicons-btn:nth-child(1)
{
    transition-delay: 100ms;
}

.product-single-card .product-top-area .sideicons .sideicons-btn:nth-child(2)
{
    transition-delay: 200ms;
}

.product-single-card .product-top-area .sideicons .sideicons-btn:nth-child(3)
{
    transition-delay: 300ms;
}

.product-single-card .product-top-area .sideicons .sideicons-btn:nth-child(4)
{
    transition-delay: 400ms;
}

.product-single-card .product-top-area:focus .sideicons .sideicons-btn,
.product-single-card .product-top-area:hover .sideicons .sideicons-btn{
    opacity: 100%;
    visibility: visible;
    transform: translateX(0);
}


.product-single-card .product-info .product-category{
    font-weight: 600;
    opacity: 60%;
}

.product-single-card .product-info .product-title{
    font-size: 16px;
    font-weight: 600;
}

.product-single-card .product-info .old-price,
.product-single-card .product-info .new-price{
    padding-right: 10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}
.product-single-card .product-info .old-price{
    text-decoration: line-through;
    opacity: 70%;
}
/* ===========
Product Single Card - End
============= */




/* ===========
Banner Card - Start
============= */
.banner-card{
    overflow: hidden;
    height: 500px;
    padding: 0;
}

.banner-card-small {
    overflow: hidden;
    height: 250px;
    padding: 0;
}

.banner-card-1{
    margin: 0;
    padding: 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-card-1::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, rgb(129 129 129) 0%, rgb(255 255 255 / 0%) 100%);
}

.banner-card-1 .banner-card-textarea{
    position: absolute;
    bottom: 15%;
    left: 10%;
    right: 5%;
}

.banner-card-1 .welcome-title{
    font-size: 16px;
}

.banner-card-1 .title{
    font-size: 1.6rem;
    font-weight: 700;
}

.banner-card-1 .sub-title{
    font-size: 14px;
}

.banner-card-1 .url-btn{
    margin-top: 10px;
    font-size: 12px;
    background-color: #d6d6d6;
    border: 0;
    color: #000;
    padding: 7px 20px;
    border-radius: 5px;
}
/* ===========
Banner Card - End
============= */
